
<div class="span2"></div>

<a href="/snakes">
<div class="span4" id="snake-icon">
  <div class="well">Snake Wars!</div>
</div>
</a>



<script type="text/javascript">
// $("#snake-icon").click(function() {

// })
</script>