<pre class="output"></pre>
<div class='runningUI'>
  <button id="pauseButton"> Pause </button>
</div>
<div class='initialUI'>
  <button id="startButton"> Start </button>
</div>

<div class='newGameUI'>
  <button id="newButton"> newGame </button>
</div>

<script type="text/javascript">
  userInterface();
</script>